header(class="header" + headerClassName)
  //-  +parallax-block("header__bg")
  .header_top
    +socials
    +humburger
    +card-avatar("","Антонов Александр", "Сайт веб-разработчика")

  block headerBottom

  block headerTriangles
    +triangles("header__triangles", "")

+nav("nav_fullscreen", "nav-fullscreen")